:host {
  height: 100%;
  display: flex;
  overflow-y: auto;
  background: linear-gradient(to bottom, #1c1b1b 0%, #1c1b1b 75%, black 100%);
}

.demo {
  height: 100%;
  width: 100%;
}

/* Media query for screens up to a certain width (e.g., 768px for common phone sizes) */
@media (max-width: 768px) {
  .demo {
    border-bottom: 1rem solid; /* reserve space for the border */
    height: 94%;
  }
}
