.page-container {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.multiline-ellipsis {
  display: -webkit-box; /* Enables the flexible box model */
  -webkit-box-orient: vertical; /* Arranges content vertically within the box */
  -webkit-line-clamp: 3; /* Specifies the number of lines to display before truncation */
  overflow: hidden; /* Hides any content exceeding the defined number of lines */
  text-overflow: ellipsis; /* Adds an ellipsis (...) to the truncated text */
}

.gradient {
  background: linear-gradient(90deg, #4bb 0%, #b48 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.box {
  position: relative;
  height: 16rem;
}

.img-fill {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.white {
  color: #cfcbc6;
}

.subtitle {
  font-weight: 100;
  font-size: 1rem;
  color: #cacaca;
  text-align: center;
}

.tag-search-container {
  row-gap: .25rem;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
}

.tag-container {
  gap: .5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.search-container {
  width: 100%;
  max-width: 600px;
  margin: 2rem 0 1rem 0;
  display: flex;
  justify-content: center;

  .search-input {
    width: 100%;
    border-radius: 20px;
    font-size: 1rem;

    @media (max-width: 768px) {
      font-size: 0.9rem;
    }
  }

  p-floatlabel {
    width: 100%;
  }

  p-iconfield {
    width: 100%;
  }
}

.card-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 22rem;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(187, 68, 136, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(187, 68, 136, 0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
  }
}
